USE [JunioNegocio2023]
GO
/****** Object:  Table [dbo].[tb_Cargo]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Cargo](
	[IdCargo] [int] NOT NULL,
	[NombreCargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_categorias]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_categorias](
	[IdCategoria] [int] NOT NULL,
	[NombreCategoria] [varchar](15) NOT NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_clientes]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_clientes](
	[IdCliente] [varchar](5) NOT NULL,
	[NombreCia] [varchar](40) NOT NULL,
	[Direccion] [varchar](60) NOT NULL,
	[idpais] [char](3) NULL,
	[Telefono] [varchar](24) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_distrito]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_distrito](
	[idDistrito] [int] NOT NULL,
	[desDistrito] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_empleados]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_empleados](
	[IdEmpleado] [int] NOT NULL,
	[ApeEmpleado] [varchar](50) NOT NULL,
	[NomEmpleado] [varchar](50) NOT NULL,
	[FecNac] [datetime] NOT NULL,
	[DirEmpleado] [varchar](60) NOT NULL,
	[idDistrito] [int] NULL,
	[fonoEmpleado] [varchar](15) NULL,
	[idCargo] [int] NULL,
	[FecContrata] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_paises]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_paises](
	[Idpais] [char](3) NOT NULL,
	[NombrePais] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pedidoscabe]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pedidoscabe](
	[IdPedido] [int] NOT NULL,
	[IdCliente] [varchar](5) NULL,
	[IdEmpleado] [int] NULL,
	[FechaPedido] [datetime] NOT NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaEnvio] [datetime] NULL,
	[Envio] [char](1) NULL,
	[Cargo] [decimal](10, 0) NULL,
	[Destinatario] [varchar](40) NULL,
	[DireccionDestinatario] [varchar](60) NULL,
	[CiudadDestinatario] [varchar](15) NULL,
	[RegionDestinatario] [varchar](15) NULL,
	[CodPostalDestinatario] [varchar](10) NULL,
	[PaisDestinatario] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pedidosdeta]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pedidosdeta](
	[IdPedido] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioUnidad] [decimal](10, 0) NOT NULL,
	[Cantidad] [smallint] NOT NULL,
	[Descuento] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_productos]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_productos](
	[IdProducto] [int] NOT NULL,
	[NombreProducto] [varchar](40) NOT NULL,
	[IdProveedor] [int] NULL,
	[IdCategoria] [int] NULL,
	[umedida] [varchar](100) NULL,
	[PrecioUnidad] [decimal](10, 0) NOT NULL,
	[UnidadesEnExistencia] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_proveedores]    Script Date: 28/06/2024 10:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_proveedores](
	[IdProveedor] [int] NOT NULL,
	[NombreCia] [varchar](40) NOT NULL,
	[NombreContacto] [varchar](30) NOT NULL,
	[CargoContacto] [varchar](30) NOT NULL,
	[Direccion] [varchar](60) NOT NULL,
	[idpais] [char](3) NULL,
	[Telefono] [varchar](24) NOT NULL,
	[Fax] [varchar](24) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tb_Cargo] ([IdCargo], [NombreCargo]) VALUES (1, N'Administrador')
INSERT [dbo].[tb_Cargo] ([IdCargo], [NombreCargo]) VALUES (2, N'Operador')
INSERT [dbo].[tb_Cargo] ([IdCargo], [NombreCargo]) VALUES (3, N'Vendedor')
GO
INSERT [dbo].[tb_categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Bebidas', N'Gaseosas, cafe, te, cervezas y maltas')
INSERT [dbo].[tb_categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Condimentos', N'Salsas dulces y picantes, delicias, comida para untar y aderezos')
INSERT [dbo].[tb_categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Reposteria', N'Postres, dulces y pan dulce')
GO
INSERT [dbo].[tb_clientes] ([IdCliente], [NombreCia], [Direccion], [idpais], [Telefono]) VALUES (N'AAAA1', N'Jorge Sifuentes Gonzalez', N'Av. Los Bosques 888', N'001', N'999000333')
INSERT [dbo].[tb_clientes] ([IdCliente], [NombreCia], [Direccion], [idpais], [Telefono]) VALUES (N'AALLL', N'ALPHA IMPORTACION', N'AV. Alpha 23', N'002', N'956222333')
INSERT [dbo].[tb_clientes] ([IdCliente], [NombreCia], [Direccion], [idpais], [Telefono]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Obere Str. 20', N'002', N'030-0074321')
GO
INSERT [dbo].[tb_distrito] ([idDistrito], [desDistrito]) VALUES (1, N'Lima-Cercado')
INSERT [dbo].[tb_distrito] ([idDistrito], [desDistrito]) VALUES (2, N'Jesus Maria')
INSERT [dbo].[tb_distrito] ([idDistrito], [desDistrito]) VALUES (3, N'Rimac')
GO
INSERT [dbo].[tb_empleados] ([IdEmpleado], [ApeEmpleado], [NomEmpleado], [FecNac], [DirEmpleado], [idDistrito], [fonoEmpleado], [idCargo], [FecContrata]) VALUES (1, N'Davolio', N'Nancy', CAST(N'1968-12-08T00:00:00.000' AS DateTime), N'Calle Las Magnolias 123', 2, N'6573344', 4, CAST(N'2010-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_empleados] ([IdEmpleado], [ApeEmpleado], [NomEmpleado], [FecNac], [DirEmpleado], [idDistrito], [fonoEmpleado], [idCargo], [FecContrata]) VALUES (2, N'Fuller', N'Andrew', CAST(N'1952-02-19T00:00:00.000' AS DateTime), N'Av Abancay 234', 1, N'98788766', 1, CAST(N'2011-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_empleados] ([IdEmpleado], [ApeEmpleado], [NomEmpleado], [FecNac], [DirEmpleado], [idDistrito], [fonoEmpleado], [idCargo], [FecContrata]) VALUES (3, N'Leverling', N'Janet', CAST(N'1963-08-30T00:00:00.000' AS DateTime), N'Av. Riva Aguero 233', 4, N'5664555', 3, CAST(N'2011-03-10T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tb_paises] ([Idpais], [NombrePais]) VALUES (N'001', N'Peru')
INSERT [dbo].[tb_paises] ([Idpais], [NombrePais]) VALUES (N'002', N'Argentina')
INSERT [dbo].[tb_paises] ([Idpais], [NombrePais]) VALUES (N'003', N'Chile')
GO
INSERT [dbo].[tb_pedidoscabe] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [Envio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10248, N'WILMK', 5, CAST(N'1996-07-04T00:00:00.000' AS DateTime), CAST(N'1996-08-01T00:00:00.000' AS DateTime), CAST(N'1996-07-16T00:00:00.000' AS DateTime), N'1', CAST(32 AS Decimal(10, 0)), N'Wilman Kala', N'Keskuskatu 45', N'Helsinki', N'', N'21240', N'Finlandia')
INSERT [dbo].[tb_pedidoscabe] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [Envio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10249, N'TOMSP', 6, CAST(N'1996-07-05T00:00:00.000' AS DateTime), CAST(N'1996-08-16T00:00:00.000' AS DateTime), CAST(N'1996-07-10T00:00:00.000' AS DateTime), N'1', CAST(11 AS Decimal(10, 0)), N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', N'', N'44087', N'Alemania')
INSERT [dbo].[tb_pedidoscabe] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [Envio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10250, N'HANAR', 4, CAST(N'1996-07-08T00:00:00.000' AS DateTime), CAST(N'1996-08-05T00:00:00.000' AS DateTime), CAST(N'1996-07-12T00:00:00.000' AS DateTime), N'1', CAST(65 AS Decimal(10, 0)), N'Hanari Carnes', N'Rua do Paço, 67', N'Rio de Janeiro', N'RJ', N'05454-876', N'Brasil')
GO
INSERT [dbo].[tb_pedidosdeta] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 11, CAST(14 AS Decimal(10, 0)), 12, 0)
INSERT [dbo].[tb_pedidosdeta] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 42, CAST(9 AS Decimal(10, 0)), 10, 0)
INSERT [dbo].[tb_pedidosdeta] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 72, CAST(34 AS Decimal(10, 0)), 5, 0)
GO
INSERT [dbo].[tb_productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [umedida], [PrecioUnidad], [UnidadesEnExistencia]) VALUES (1, N'Te Dharamsala', 1, 1, N'12 frascos', CAST(18 AS Decimal(10, 0)), 39)
INSERT [dbo].[tb_productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [umedida], [PrecioUnidad], [UnidadesEnExistencia]) VALUES (2, N'Cerveza ´Pilsen', 1, 1, N'botella', CAST(19 AS Decimal(10, 0)), 17)
INSERT [dbo].[tb_productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [umedida], [PrecioUnidad], [UnidadesEnExistencia]) VALUES (3, N'Sirope de regaliz', 1, 2, N'botella', CAST(10 AS Decimal(10, 0)), 13)
GO
INSERT [dbo].[tb_proveedores] ([IdProveedor], [NombreCia], [NombreContacto], [CargoContacto], [Direccion], [idpais], [Telefono], [Fax]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Gerente de compras', N'49 Gilbert St.', N'003', N'(171) 555-2222', N'')
INSERT [dbo].[tb_proveedores] ([IdProveedor], [NombreCia], [NombreContacto], [CargoContacto], [Direccion], [idpais], [Telefono], [Fax]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Administrador de pedidos', N'P.O. Box 78934', N'008', N'(100) 555-4822', N'')
INSERT [dbo].[tb_proveedores] ([IdProveedor], [NombreCia], [NombreContacto], [CargoContacto], [Direccion], [idpais], [Telefono], [Fax]) VALUES (3, N'Grandma Kellys Homestead', N'Regina Murphy', N'Representante de ventas', N'707 Oxford Rd.', N'001', N'(313) 555-5735', N'(313) 555-3349')
GO
ALTER TABLE [dbo].[tb_pedidoscabe] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[tb_pedidoscabe] ADD  DEFAULT ('0') FOR [Envio]
GO
ALTER TABLE [dbo].[tb_clientes]  WITH CHECK ADD FOREIGN KEY([idpais])
REFERENCES [dbo].[tb_paises] ([Idpais])
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD FOREIGN KEY([idCargo])
REFERENCES [dbo].[tb_Cargo] ([IdCargo])
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[tb_pedidoscabe]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[tb_clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[tb_pedidoscabe]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[tb_empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[tb_pedidosdeta]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[tb_pedidoscabe] ([IdPedido])
GO
ALTER TABLE [dbo].[tb_pedidosdeta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[tb_productos] ([IdProducto])
GO
ALTER TABLE [dbo].[tb_productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[tb_categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[tb_productos]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[tb_proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[tb_proveedores]  WITH CHECK ADD FOREIGN KEY([idpais])
REFERENCES [dbo].[tb_paises] ([Idpais])
GO
/****** Object:  StoredProcedure [dbo].[spAddCustomer]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTO ALMACENADO PARA AGREGAR CLIENTE

CREATE PROCEDURE [dbo].[spAddCustomer]
	@idCliente VARCHAR(5),
	@nombre	   VARCHAR(60),
	@direccion VARCHAR(80),
	@idPais	   CHAR(3),
	@fono	   VARCHAR(24)
AS
BEGIN
INSERT INTO [dbo].[tb_clientes]
VALUES(
	@idCliente,
	@nombre,
	@direccion,
	@idPais,
	@fono);
END

GO
/****** Object:  StoredProcedure [dbo].[spAddProduct]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CREA PROCEDIMIENTO ALMACENADO PARA AÑADIR PRODUCTO
CREATE PROCEDURE [dbo].[spAddProduct]
	@idProducto         INT,
	@nombreProducto     VARCHAR(40),
	@idProveedor        INT,
	@idCategoria        INT,
	@uMedida			VARCHAR(40),
	@precioUnidad       DECIMAL(10,0),
	@unidadesExistencia SMALLINT
AS
BEGIN
INSERT INTO [dbo].[tb_productos]
VALUES(
	@idProducto,
	@nombreProducto,
	@idProveedor,
	@idCategoria,
	@uMedida,
	@precioUnidad,
	@unidadesExistencia);
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteCustomer]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTO ALMACENADO PARA ELIMINAR CLIENTE

CREATE PROCEDURE [dbo].[spDeleteCustomer]
	@idCliente  VARCHAR(5)
AS
BEGIN
	DELETE
		[dbo].[tb_clientes]
	WHERE
		IdCliente = @idCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteProduct]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteProduct]
	@idProducto         INT
AS
BEGIN
	DELETE
		[dbo].[tb_productos]
	WHERE 
		IdProducto = @idProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllCategory]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREA PROCEDIMIENTO ALMACENADO PARA LISTAR CATEGORÍA
CREATE PROCEDURE [dbo].[spGetAllCategory]
AS
BEGIN
SELECT
	IdCategoria, NombreCategoria
FROM
	[dbo].[tb_categorias]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllClient]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAllClient]
AS
BEGIN
	SELECT
		C.IdCliente,
		C.NombreCia,
		C.Direccion,
		P.NombrePais,
		C.Telefono
	FROM
		tb_clientes C
	INNER JOIN
		tb_paises P
	ON
		C.idpais = P.Idpais;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllCountries]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTO ALMACENADO PARA LISTAR PAISES

CREATE PROCEDURE [dbo].[spGetAllCountries]
AS
BEGIN
SELECT
	Idpais, NombrePais
FROM
	[dbo].[tb_paises]
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllProduct]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREA PROCEDIMIENTO ALMACENADO PARA LISTAR PRODUCTO
CREATE PROCEDURE [dbo].[spGetAllProduct]
AS
BEGIN
	SELECT
		A.IdProducto,
		A.NombreProducto,
		A.IdCategoria,
		A.IdProveedor,
		A.umedida,
		A.PrecioUnidad,
		A.UnidadesEnExistencia
	FROM
		[dbo].[tb_productos] A
			INNER JOIN [dbo].[tb_proveedores] B ON A.IdProveedor = B.IdProveedor
			INNER JOIN [dbo].[tb_categorias] C ON A.IdCategoria = C.IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProvider]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CREA PROCEDIMIENTO ALMACENADO PARA LISTAR PROVEEDOR
CREATE PROCEDURE [dbo].[spGetAllProvider]
AS
BEGIN
SELECT
	IdProveedor, NombreCia
FROM
	[dbo].[tb_proveedores]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderByCustomer]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrderByCustomer]
@idCliente VARCHAR(5)
AS
BEGIN
	SELECT
		P.IdPedido,
		P.FechaPedido,
		P.IdCliente + ' - ' + C.NombreCia AS Cliente,
		P.DireccionDestinatario,
		P.CiudadDestinatario,
		P.PaisDestinatario,
		(
			SELECT 
				SUM (((D.PrecioUnidad * D.Cantidad) - D.Descuento)) 
			FROM
				tb_pedidosdeta D
			WHERE
				IdPedido=P.IdPedido) AS MontoTotal,
				CONVERT (VARCHAR, P.IdEmpleado) + ' - ' + E.NomEmpleado + ', ' + E.ApeEmpleado AS Empleado
	FROM
		tb_pedidoscabe P
			INNER JOIN tb_clientes C ON P.IdCliente = C.IdCliente
			INNER JOIN tb_empleados E ON P.IdEmpleado = E.IdEmpleado
	WHERE
		P.IdCliente = @idCliente
	ORDER BY
		P.FechaPedido
END

GO
/****** Object:  StoredProcedure [dbo].[spGetOrderByDate]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetOrderByDate]
	@finicio date,
	@ffin    date
AS
BEGIN
	SELECT
		P.IdPedido,
		P.FechaPedido,
		P.IdCliente + ' - ' + C.NombreCia as Cliente,
		P.DireccionDestinatario,
		P.CiudadDestinatario,
		P.PaisDestinatario,
		(
		SELECT 
			SUM(((D.PrecioUnidad*D.Cantidad) - D.Descuento))
		FROM
			tb_pedidosdeta D
		Where
			IdPedido = P.IdPedido
		)
		AS MontoTotal,

			CONVERT(VARCHAR, P.IdEmpleado) + ' - ' + E.NomEmpleado +' , ' + E.ApeEmpleado AS Empleado
	FROM
		tb_pedidoscabe P
		INNER JOIN 
			tb_clientes C ON P.IdCliente = C.IdCliente
		INNER JOIN
			tb_empleados E ON P.IdEmpleado = E.IdEmpleado
	WHERE
		P.FechaPedido BETWEEN @finicio AND @ffin
	ORDER BY
		p.FechaPedido
END
GO
/****** Object:  StoredProcedure [dbo].[spGetProductSequence]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREA PROCEDIMIENTO ALMACENADO PARA SECUENCIA DE PRODUCTO
CREATE PROCEDURE [dbo].[spGetProductSequence]
AS
BEGIN
SELECT
	MAX(IdProducto)+1 AS Secuencia
FROM
	[dbo].[tb_productos]
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateCustomer]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTO ALMACENADO PARA ACTUALIZAR CLIENTE

CREATE PROCEDURE [dbo].[spUpdateCustomer]
	@idCliente VARCHAR(5),
	@nombre	   VARCHAR(60),
	@direccion VARCHAR(80),
	@idPais	   CHAR(3),
	@fono	   VARCHAR(24)
AS
BEGIN
	UPDATE 
		[dbo].[tb_clientes]
	SET
		NombreCia=@nombre,
		Direccion=@direccion,
		idpais=@idPais,
		Telefono=@fono
	WHERE
		IdCliente=@idCliente;
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateProduct]    Script Date: 28/06/2024 10:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateProduct]
	@idProducto         INT,
	@nombreProducto     VARCHAR(40),
	@idProveedor        INT,
	@idCategoria        INT,
	@uMedida			VARCHAR(40),
	@precioUnidad       DECIMAL(10,0),
	@unidadesExistencia SMALLINT
AS
BEGIN
	UPDATE 
		[dbo].[tb_productos]
	SET
		NombreProducto = @nombreProducto,
		IdProveedor = @idProveedor,
		IdCategoria = @idCategoria,
		umedida = @uMedida,
		PrecioUnidad = @precioUnidad,
		UnidadesEnExistencia = @unidadesExistencia
	WHERE
		IdProducto = @idProducto;
END
GO
